.defaultButton {
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-bottom: 15px;
}

.defaultButton:hover {background-color: #3e8e41}

.defaultButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.redButton {
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgba(255,95,102,0.78);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-bottom: 15px;

}

.redButton:hover {background-color: rgba(255,35,39,0.78)}

.redButton:active {
  background-color: rgba(255,10,7,0.82);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
